.cabecalho {
    align-items: center;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}

.cabecalho__menu--lista {
    display: flex;
}

.cabecalho__menu--item {
    list-style: none;
}

.cabecalho__menu--link {
    text-decoration: none;
    text-transform: lowercase;
    color: #808080;
    margin-left: 1.25rem;
}

.cabecalho__menu--link.ativo {
    font-weight: bold;
    color: #333;
}

.cabecalho__menu--link:hover {
    text-decoration: underline;
}