body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #eee;
}

.caixa-header {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
}

.caixa-header .foto-logo {
  width: 20%;
}

.menu-nav-header ul {
  position: absolute;
  top: 135px;
  right: 0;
}

.menu-nav-header ul li {
  display: inline-block;
  margin: 0 0 0 20px;
}

.menu-nav-header ul li a {
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444;
  font-weight: bold;
}

.menu-nav-header ul a:hover {
  color: #bbb;
  text-decoration: underline;
}

.ensaios {
  width: 940px;
  margin: 2em auto;
  position: relative;
  box-shadow: inset 0 0 2px grey;
}

.ensaios fieldset iframe {
  width: 400px;
  height: 200px;
  margin: 20px;
}

.ensaios fieldset {
  margin-top: 2em;
  margin-left: 1em;
  display: inline;
}

.paginas-secao-ensaios figure img {
  width: 360px;
  display: block;
}

.ensaios fieldset legend {
  font-weight: bold;
  margin: 0 0 0 20px;
}

.ensaios .img-camera {
  width: 100px;
  padding: 50px 130px;
  background: linear-gradient(ivory, #fff);
  position: absolute;
  right: 80px;
  bottom: 30px;
}

.descricao {
  width: 940px;
  margin: 3em auto;
}

.descricao figure {
  float: left;
}

.descricao figure img {
  width: 100px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 2em 0 0;
}

.descricao .texto p {
  line-height: 2em;
  margin: 2em 0;
}

.descricao .texto p strong {
  font-weight: bold;
}

.contato {
  margin: 4em 0 4em 0;
}

.caixa-contato {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}

.caixa-contato .lista-contato .item-contato img {
  width: 60px;
}

.caixa-contato .lista-contato .item-contato {
  margin: 2em 0 2em 0;
  padding: 0.5em 4em 0.5em 1em;
  border: 1px solid white;
  border-radius: 20px;
  transition: 0.3s all;
}

.caixa-contato .lista-contato .whats:hover {
  background-color: #CEF6CE;
}

.caixa-contato .lista-contato .insta:hover {
  background-color: #F6CEE3;
}

.caixa-contato .lista-contato .telegram:hover {
  background-color: #CEF6F5;
}

.caixa-contato .lista-contato .whats {
  border-color: green;
}

.caixa-contato .lista-contato .insta {
  border-color: #FE2E64;
}

.caixa-contato .lista-contato .telegram {
  border-color: cadetblue;
}

.desenvolvedor {
  width: 940px;
  margin: 2em auto;
}

.desenvolvedor a {
  text-decoration: none;
}

.desenvolvedor a:hover p {
 color: #fff;
 background-color: #071019;
}

.desenvolvedor p {
  font-weight: bold;
  padding: 0.5em 2em;
  border: 1px solid #071019;
  display: inline;
  color: #071019;
  transition: 0.3s all;
}

.rodape {
  padding: 2em 0;
  background: #eee;
  text-align: center;
}

.rodape img {
  width: 100px;
}

.rodape p {
  font-weight: bold;
  font-size: 1em;
}

@media screen and (max-width: 940px) {

  .caixa-header,
  .ensaios,
  .descricao,
  .caixa-contato, .desenvolvedor {
    width: 100%;
  }

  .caixa-header h1 {
    text-align: center;
  }

  .menu-nav-header ul li a {
    font-size: 1em;
  }

  .menu-nav-header ul li {
    margin-top: 2em;
  }

  .menu-nav-header ul {
    position: static;
  }

  .menu-nav-header {
    width: 350px;
    margin: 0 auto;
  }

  .ensaios {
    width: 95%;
    margin-left: 1em;
  }

  .ensaios .img-camera {
    position: static;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 0;
    opacity: 0;
  }

  .ensaios fieldset iframe,
  .paginas-secao-ensaios figure img {
    width: 280px;
  }

  .ensaios fieldset {
    margin-left: 0;
  }

  .descricao,
  .texto p {
    font-size: 14px;
    margin-left: 1em;
    padding-right: 1em;
  }

  .descricao figure img {
    width: 70px;
    margin: 0 1em 0 0;
  }

  .caixa-contato {
    margin-left: 0.8em;
  }

  .caixa-contato .lista-contato .item-contato {
    display: inline-block;
    margin: 0.5em;
  }

  .desenvolvedor {
    text-align: center;
  }
}